html {
    margin: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    margin: 0;
}

.container {
    min-width: 600px;
    max-width: 710px;
    width: 80%;
    height: 90vh;
    border: 3px solid black;
    margin: auto;
    font-family: "Roboto", sans-serif;
    overflow: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    position: relative;
}

#temp-input {
    appearance: textfield;
    border: 2px solid black;
    padding: 0.4em 0.7em;
    border-radius: 0.5em;
    font-size: 1.2em;
    width: 100px;

}
.dropdown-head {
    display: flex;
    font-size: 1.2em;
    justify-content: space-between;
    width: 150px;
    border: 2px solid black;
    padding: 0.5em 0.7em;
    border-radius: 0.5em;
    cursor: pointer;
}
.dropdown-head p {
    margin: 0;
}

.dropdown-list {
    position: absolute;
    width: 135px;
    display: none;
    margin: 0.5em 0;
    list-style: none;
    border: 2px solid black;
    border-radius: 1.4em;
    padding: 0.5em 1.2em;
}

.dropdown li {
    cursor: pointer;
    position: relative;
    margin: 0 -0.99em;
    font-size: 1.2em;
    padding: 0.5em ;
    border-bottom: 2px solid black;
}

.dropdown li:nth-last-child(1) {
    border: none;
}

.tick-icon {
    position: absolute;
    right: 10px;
    width: 22px;
    display: none;
}
.convert-btn-div {
    display: none;
}
#convert-btn {
    border: none;
    padding: 0.6em 0.7em;
    border-radius: 0.5em;
    font-size: 1em;
    width: 100px;
    background-color: black;
    color: #fff;
}
.result {
    position: absolute;
    top: 470px;
    left: 70px;
    color: green;
    display: none;
}
.show-icon {
    display: inline;
}

.show-list {
    display: block;
}
.show-btn {
    display: block;
}
.show {
    display: block;
}